altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2
attrs==24.2.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
distro==1.9.0
GitPython==3.1.43
grpcio==1.54.0
grpcio-tools==1.54.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
Jinja2==3.1.4
jsonschema==4.23.0
langchain==0.3.2
langchain-openai==0.2.2
langdetect==1.0.9
numpy==1.25.2
openai==1.47.0
pandas==2.2.3
pillow==10.4.0
protobuf==5.27.3
pydantic==2.9.2
pydeck==0.9.1
python-dateutil==2.9.0.post0
pytz==2024.1
qdrant-client==1.9.0
regex==2024.9.11
requests==2.32.3
streamlit==1.39.0
tenacity==8.5.0
tiktoken==0.7.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==4.0.1
python-dotenv==1.0.1


